body{
    background-color: #1B6360;
    font-family: "Abel", sans-serif;
    margin: 20px;
}

#container{
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

#window-header{
    width: 100%;
    height: 30px;
    background-color: #D6E4EB;
    justify-content: flex-end;
}
#window-header p{
    line-height: 1px;
    display: inline-block;
}

#left-box{
    border-image: url("border-image.webp") 30 round;
    border-image-width: 16px;
    border-style: solid;
    border-color: transparent;
    width: 350px;
    height: 300px;
}

#center-box{
    border-image: url("border-image.webp") 30 round;
    border-image-width: 16px;
    border-style: solid;
    border-color: transparent;
    width: 500px;
    height: 400px;
    margin-left: 10px;
    margin-right: 10px;
}

#right-box{
    border-image: url("border-image.webp") 30 round;
    border-image-width: 16px;
    border-style: solid;
    border-color: transparent;
    width: 350px;
    height: 400px;
}

/*scroll*/
.scroll-left {
 height: 20px;	
 width: 100%;
 overflow: hidden;
margin: auto;
color: #D6E4EB;
}
.scroll-left p {
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 20px;
 text-align: center;
 /* Starting position */
 transform:translateX(100%);
 /* Apply animation to this element */
 animation: scroll-left 40s linear infinite;
}
/* Move it (define the animation) */
@keyframes scroll-left {
 0%   {
 transform: translateX(100%); 		
 }
 100% {
 transform: translateX(-100%); 
 }
}

#winnie {
    position: absolute;
    z-index: 9;
    text-align: center;
  }


 
