body{
    background-color: #1B6360;
    font-family: "Abel", sans-serif;
    margin: 20px;
}

#container{
    display: flex;
    float: left;
    margin: auto;
    justify-content: flex-end;
    text-align: center;
    width: 100%;
    height: 100%;
}

#window-header{
    width: 100%;
    height: 30px;
    background-color: white;
    justify-content: flex-end;
}
#window-header p{
    line-height: 1px;
    display: inline-block;
}
#left-box{
    border: 2px;
    border-style: solid;
    border-color: white;
    width: 350px;
    height: 600px;
}

#center-box{
    border: 2px;
    border-style: solid;
    border-color: white;
    width: 800px;
    margin-left: 10px;
    margin-right: 10px;
}

#right-box{
    border: 2px;
    border-style: solid;
    border-color: white;
    width: 350px;
}

/*scroll*/
.scroll-left {
 height: 20px;	
 width: 100%;
 overflow: hidden;
margin: auto;
color: white;
}
.scroll-left p {
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 20px;
 text-align: center;
 /* Starting position */
 transform:translateX(100%);
 /* Apply animation to this element */
 animation: scroll-left 40s linear infinite;
}
/* Move it (define the animation) */
@keyframes scroll-left {
 0%   {
 transform: translateX(100%); 		
 }
 100% {
 transform: translateX(-100%); 
 }
}